/* font */
body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.top-banner {
  background-color: #c6e4d6;
  max-width: 1380px;
  max-height: 4500px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 80px 100px;
}
.banner-heading {
  font-size: 20px;
  color: #0e0e0e;
  opacity: 50%;
}
.banner-info {
  font-size: 56px;
  font-weight: 600;
}

.btn-banner {
  text-decoration: none;
  background-color: #006a50;
  padding: 17px 34px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-size: 18px;
}
.banner-description {
  text-align: left;
}
.banner-heading {
  font-size: 30px;
}
/* top banner end */

//* vission  starts*/
.vission-head {
  font-size: 40px;
  font-weight: bold;
}
.vission-des {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
.btn-1 {
  background-color: #5490f5;
  padding: 17px 34px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-size: 18px;
}
.btn-2 {
  background-color: #09a15c;
  padding: 17px 34px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-size: 18px;
}
.btn-3 {
  background-color: #ffc239;
  padding: 17px 34px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-size: 18px;
}
.donate-plan {
  text-align: left;
  margin-left: 100px;
  margin-top: 60px;
}

.donate-after {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.donate-container {
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  border: 1px solid #f2c2b6;
  border-radius: 15px;
}

#box1 {
  background-color: #5490f5;
}
#box-2 {
  background-color: #c6e4d6;
}
#box-3 {
  background-color: #f7ebcf;
}
/* the vision of future */
